@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .gradient-custom {
    background: linear-gradient(
      180deg,
      rgba(255, 255, 255, 1) 0%,
      rgba(0, 0, 0, 0.546) 100%
    );
    mix-blend-mode: multiply;
  }
  .gradient-custom-hover {
    background: linear-gradient(
      180deg,
      rgba(255, 255, 255, 1) 0%,
      rgba(221, 148, 80, 0.546) 100%
    );
    mix-blend-mode: multiply;
  }
}

/* Genel olarak kaydırma çubukları */
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.594);
  background-color: #2f4539;
}

::-webkit-scrollbar {
  width: 10px;
  background-color: #f5f5f5;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #e4a16f;
  background-image: -webkit-linear-gradient(
    45deg,
    rgba(73, 52, 44, 0.2) 25%,
    transparent 25%,
    transparent 50%,
    rgba(73, 52, 44, 0.2) 50%,
    rgba(73, 52, 44, 0.2) 75%,
    transparent 75%,
    transparent
  );
}

::-webkit-scrollbar-thumb:hover {
  background-image: -webkit-linear-gradient(
    45deg,
    rgba(45, 34, 30, 0.589) 25%,
    transparent 25%,
    transparent 50%,
    rgba(30, 22, 18, 0.427) 50%,
    rgba(28, 20, 17, 0.429) 75%,
    transparent 75%,
    transparent
  );
}

.gbox {
  background: linear-gradient(278.32deg, #0b3f37 -7.03%, #cb8d62 136.33%);
}
.swiper-pagination-bullet-active {
  background: linear-gradient(#5E3928,#E4A16F) !important;
  border-radius: 1px !important;
  /* background-color: red !important; */
  /* margin-top: 50px !important; */
  width: 7px !important;
  
  }
  .swiper-pagination-bullet {
    border-radius: 1px !important;
    /* background-color: white !important; */
    /* margin-top: 50px !important; */
    width: 7px !important;
    
    }



  /* Header Swiper Start */
 .headerSwiper .swiper-button-prev::after{
  background-color: transparent;
  color:white;
  padding:10px;
 height: 30px;
 padding:10px;
 display:flex;
 align-items: center;
 justify-content: center;
  font-size:16px;

 }
 .headerSwiper .swiper-button-next::after{
  background-color: transparent;
  color:white;
  padding:10px;
 height: 30px;
 padding:10px;
 display:flex;
 align-items: center;
 justify-content: center;
  font-size:16px;

 }

 .headerSwiper .swiper-pagination-bullet {
  border-radius: 1px !important;
  /* background-color: white !important; */
  margin-top: 0px !important;
  width: 7px !important;
  
  }
 .headerSwiper .swiper-pagination{
  /* background-color: red; */
display: flex;
  margin-left: 190px;

  height: 50px;
 }
 
 /* Header Swiper End */



 /* SectionTwo Start */
 .sectionTwo .swiper-button-prev::after{
  background-color: transparent;
  color:black;
  padding:10px;
 height: 30px;
 padding:10px;
 display:flex;
 align-items: center;
 justify-content: center;
  font-size:16px;

 }

 .sectionTwo .swiper-button-next::after{
  background-color: transparent;
  color:black;
  padding:10px;
 height: 30px;
 padding:10px;
 display:flex;
 align-items: center;
 justify-content: center;
  font-size:16px;
 }

 /* Section Two End */


 /* slider start */
 .slider {
  /* background-color: red; */
 }

 .slider .swiper-button-prev{
  position: absolute !important;
  left:0px !important;
  /* background-color: red; */
 }

 .sectionTwo .swiper{
  position: static !important;
 }

 /* slider end */