@tailwind base;
@tailwind components;
@tailwind utilities;



@layer utilities{
    .gradient-custom{
        background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(0, 0, 0, 0.546) 100%);
        mix-blend-mode: multiply;
    }
    .gradient-custom-hover{
        background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(221, 148, 80, 0.546) 100%);
        mix-blend-mode: multiply;
    }
}